.contactme__con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 250px;
}
.contact__header{
    font-size: 30px;
    color: white;

}
.contact{
    font-size: 200px;
    margin-top: 10px;
    letter-spacing: 1.5rem;
    font-family: "Ogg TRIAL";
    font-weight: 100;
    font-family: "Ogg TRIAL";
    color: #ffff;
    font-weight: 300;
    margin-bottom: 20px;
  
 
}
.contact span{
    opacity: 0;
    /* display: inline-block; */
    
}
.contact span:first-child{
   
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
 
   opacity: 0;
    

}
.contact span:nth-child(2){
   
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.45s;
   opacity: 0;
}
.contact span:nth-child(3){
    
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
   opacity: 0;
}
.contact span:nth-child(4){
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
   opacity: 0;
}
.contact span:nth-child(5){
    
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
   opacity: 0;
}
.contact span:nth-child(6){
   
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;
   opacity: 0;
}
.contact span:nth-child(7){
  
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
   opacity: 0;
}
.contact span:nth-child(8){
   
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;
   opacity: 0;
}
.contact span:nth-child(9){
   
    animation-name: first;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
   opacity: 0;
}
@keyframes first {
    75%{
        opacity: 1;
        transform: scale(1);
        /* text-shadow: 0px 5px 53.5px #5CE1E6; */
    }
    100%{
        opacity: 0;
    }
    
}

.social_media_contact_con{
    display: flex;
    color: white;
    /* justify-content: space-around; */
    /* margin-top: 150px; */

}
.social__media__list{
    display: flex;
    gap: 10px;
    color: white;
   
}
.mLink{
  color:black;
  border-bottom: solid 1px white;
  text-transform: capitalize;
  font-size: 100px;
  border: red 1px solid;
  opacity: 0;
  pointer-events: none

}


@media(max-width:1000px){
    .contact{
        font-size: 40px;
    }
    .contact__header{
        font-size: 20px;
    }
    .social_media_contact_con{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mLink{
        font-size: 15px;
    }
}
@media (max-width:400px) {
    .contact{
        font-size: 20px;
    }
    .contactme__con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 60px;
    }
}
@media (max-width:400px) {
    .contact{
        font-size: 10px;
    }
}